* {}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

.pixel {
    image-rendering: pixelated;
}

hr {
    border: solid 3px black;
}

a {
    text-decoration: none;
    color: blue;
}

button {
    all: unset;
    padding: 15px;
    border: solid 3px black;
    transition: 0.2s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

button:hover {
    background-color: blue;
    color: white;
}

button:active {
    background-color: lightblue;
}

#buttonClickerDisplay {
    padding: 15px;
    border: solid 3px black;
    width: max-content;
}